<div class="animate fadeIn">
    <!-- <div class="loader-g" *ngIf="dataLoading">
        <h1> <i class="fas fa-sync fa-spin bg-spin"></i> </h1>
    </div> -->
    <div class="container2 mt-5">
        <h1 class="title-lg title-fucsia">Sobre mí</h1>
        <img class="img-profile" src="assets\imagenes\default\sobre-mi.jpg" alt="Belizabeh-Montilla">


        <p class="text-justify">
            Fui formada y ejerzo como Doctora en Psicología Clínica, luego de un par de años me titulé de Magíster en Psicoterapia Familiar y de Parejas, sin embargo, en el camino he realizado algunas certificaciones como Terapia Integral de Pareja, Terapia de Aceptación
            y Compromiso, Tanatología, Neuro - Coach de Vida, entre otras.
        </p>
        <p class="text-justify">
            He trabajado como psicóloga clínica desde hace casi 20 años, en contextos hospitalarios, psiquiátricos y en mi consulta privada por lo que cuento con aprendizajes y experiencia en el diagnóstico y tratamiento de alteraciones psicológicas y trastornos
            psiquiátricos tanto a nivel personal, de parejas y familias.
        </p>
        <p class="text-justify">
            Desde que era una adolescente, he tenido el constante deseo de escuchar a las personas, de mostrarme cercana a su dolor y a sus preocupaciones, fue así que descubrí mi pasión por entender la conducta humana y fui desarrollando un interés muy especial
            en la psicología clínica ya que desde muy temprano en mi formación académica se me permitió vincularme al área práctica logrando convertirme rápidamente en una experta en diagnosticar y realizar psicoterapia. Sin embargo, en ese escenario
            también fue cuando me di cuenta de existen muchísimas personas que sufren mucho dolor en nombre del amor o para ser más clara, sufren por no tener las vidas que soñaban tener junto a la persona que en algún momento amaron. Es así como nace
            mi deseo de especializarme en Terapia Familiar y de Pareja y es ahí donde pude evidenciar que existen un sin número de razones que generan conflictos en las relaciones interpersonales y más aún dentro de la relación de pareja Tanto mi trabajo,
            como las circunstancias de mi vida fue moldeando a la hija mujer, esposa y madre que soy en el presente. Sin embargo, a lo largo de mis años de experiencia me fue inevitable llegar a la conclusión de que hay circunstancias del pasado que ya
            no se pueden modificar y se las debe reconocer más bien cómo el lugar donde se originaron los problemas pero que el presente es mucho más valioso porque es ahí donde puedo entender que me afectó del pasado y así corregirlo haciéndome cargo
            de mi misma, y esto lo pude aprender gracias al neuro – coaching ya que entendí que se puede dejar de lado los modelos mentales impuestos desde la infancia y empezar a ser los verdaderos creadores de nuestro propio modelo mental.

        </p>
        <p class="text-justify">
            Permíteme acompañarte en este proyecto llamado vida, donde mi objetivo será brindarte lo mejor de mí como el ser humano que soy, con base en mis conocimientos y experiencia permitiéndome asegurarte que tendrás una transformación satisfactoria y permanente
            que lograrán hacer de ti una persona segura y feliz consigo misma y con los que amas.
        </p>


    </div>
    <br>
    <div class="py-5 mt-5" style="position: relative;">
        <div style="background:rgb(255, 244, 255);position: absolute;top: 0;left:0;width: 100%;height: 100%;"></div>
        <div style="height: 120px; overflow: hidden;position: absolute;top:0;width:100%;z-index: 5;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-24.54,-10.34 C149.99,150.00 271.49,-49.98 517.21,65.63 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: rgb(255, 227, 255);"></path></svg></div>
        <div style="height: 70px; overflow: hidden;position: absolute;top:0;width: 100%;z-index: 5;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-24.54,-10.34 C149.99,150.00 271.49,-49.98 517.21,65.63 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>


        <div class="container2">
            <div class="row pt-5 bg-success" style="">


                <div class="col-md-6">
                    <br>
                    <h1 class="title-lg title-fucsia">Valores y compromiso</h1>
                    <p class="text-justify">
                        Es importante reconocer que las carencias, juicios, miedos e inseguridades no nos permiten controlar nuestras emociones, pensamientos o conductas, manteniéndonos en caos que nos limita vivir a plenitud. Es allí entonces cuando debemos buscar ayuda para
                        replantear muchas procedimientos distintos para nuestras vidas ya que justamente el reprimirlas o no saberlas comunicar, es lo que complica la resolución de los conflictos, por eso mi labor es acoger tu sentir, reconociendo que
                        el dolor existe y que no estás solo/a ya que me convierto en tu red de apoyo y así acompañarte en los momentos difíciles que estas atravesando y sobre todo ayudarte a identificar y aprender a utilizar herramientas que ya traes
                        en tu equipaje personal pero que aún no las usas.
                    </p>
                </div>

                <div class="col-md-6">
                    <br>
                    <h1 class="title-lg title-fucsia">Convicción</h1>
                    <p class="text-justify">
                        Considero que todos tenemos recursos en nuestro interior para resolver las adversidades que pasamos y lograr aquello que nos proponemos en la vida. Contamos con habilidades y recursos para resolver nuestros propios conflictos personales, de pareja o en
                        cualquier otro contexto, aunque muchas veces no nos damos cuenta que los tenemos, porque el dolor o sufrimiento no nos permite hacernos cargo de la situación difícil que atravesamos.
                    </p>
                </div>
            </div>
        </div>
        <br>
    </div>

</div>