<!-- <div class="container mt-5">


</div> -->


<div class="bg-danger pb-4" style="margin-top: -30px;background-image:url('assets/imagenes/default/hands.jpg');background-attachment: fixed;background-repeat:no-repeat;background-position:center;background-size:cover;padding-top: -50px;position: relative;">
    <div style="background: rgba(255, 255, 255, 0.856);position: absolute;top: 0;left: 0;width: 100%;height: 100%;"></div>

    <!-- <div style="height: 100px; overflow: hidden;position: absolute;top:0;width:100%;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-24.54,-10.34 C149.99,150.00 271.49,-49.98 517.21,65.63 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: rgb(255, 227, 255);"></path></svg></div>
    <div style="height: 50px; overflow: hidden;position: absolute;top:0;width: 100%;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-24.54,-10.34 C149.99,150.00 271.49,-49.98 517.21,65.63 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div> -->

    <div class="container2 pt-1">
        <div class="loader-g" id="loader-fc">
            <h1> <i class="fas fa-sync rotated"></i></h1>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <br>
                <h1 style="z-index: 5;" class="title-fucsia mt-1">Testimonios</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6 col-md-6  my-3 p-4">
                <h1 class="text-center"><i class="fas fa-quote-left text-secondary"></i></h1>
                <h3 class="text-center">Fernando V, 41 años</h3>
                <p class="text-justify">
                    En mi caso personal me tomó mucho tiempo el decidirme comenzar terapia psicológica y me doy cuenta que esa decisión tendría que haberla tomado hace mucho tiempo. Desde el inicio me sentí muy cómodo ya que se creó una buena conexión con Beli y sé que esa
                    conexión ha sido fundamental para que el proceso terapéutico haya dado resultado. Siempre estaré agradecido por todo lo que se ha preocupado por mí y por todo lo que me ha ayudado y me sigue ayudando porque aunque he mejorado muchísimo,
                    todavía quedan cosas que seguir trabajando y eso haré con su ayuda.
                </p>
            </div>

            <div class="col-lg-6 col-md-6  my-3 p-4">
                <h1 class="text-center"><i class="fas fa-quote-left text-secondary"></i></h1>
                <h3 class="text-center">Diana, 48 años</h3>
                <p class="text-justify">
                    Me ha enseñado a comprender mis emociones a mejorar mi relación con mis hijos y a gestionar conflictos. Mis miedos, inseguridades, sufrimientos hacían que yo misma me ponga trabas y me aleje de mi familia. Belizabeth me ayudó a encontrar aspectos de mi
                    vida que me dolían y me brindó herramientas que yo no sabía que necesitaba para comprenderme, aceptarme y empezar a quererme tal y como yo soy. Estas herramientas que adquirí hoy me permiten amarme y cuidar de mí y me han ayudado a
                    conectar de nuevo con mi familia y con todo lo que me hace feliz. Estoy muy agradecida de haberte conocido Beli, gracias por todo.
                </p>
            </div>


            <div class="col-lg-6 col-md-6  my-3 p-4">
                <h1 class="text-center"><i class="fas fa-quote-left text-secondary"></i></h1>
                <h3 class="text-center">Catalina y Cesar</h3>
                <p class="text-justify">
                    En nuestro matrimonio llevábamos un buen tiempo teniendo serios problemas como pareja, la situación era tan delicada que ya veíamos al divorcio como nuestra única salida. Una amiga de mi esposa le comentó sobre el profesionalismo de Belizabeth y decidimos
                    tomar la terapia como una última oportunidad que nos dábamos. Desde la primera sesión Belizabeth nos invitó a que hablemos de nuestros problemas con libertad. En cada una de las sesiones que teníamos ya sean individuales o en pareja
                    siempre nos llevaba a reforzar más nuestros puntos positivos. Actualmente seguimos juntos y con la seguridad de que ahora si somos realmente felices, existen problemas cotidianos pero las herramientas que adquirimos dentro de terapia
                    nos ayudan a que estos no se conviertan en verdaderos conflictos. Siempre estaremos contentos y agradecidos por haberla encontrado.

                </p>
            </div>

            <div class="col-lg-6 col-md-6  my-3 p-4">
                <h1 class="text-center"><i class="fas fa-quote-left text-secondary"></i></h1>
                <h3 class="text-center">Angélica y Damián</h3>
                <p class="text-justify">
                    Cuando nos casamos pensamos que podríamos con todo y que el amor seria nuestra arma más poderosa, pero lo que no sabíamos es que los miedos, angustias e inseguridades que cada uno traíamos nos iban a pasar factura y fue así como nos dimos cuenta que no
                    sólo el amor podía ayudarnos. Todos nuestros temores se juntaron a nuevos temores que nos estaban impidiendo el ser felices y llevar una vida plena como lo merecíamos. Hasta que pudimos encontrar en Beli el acompañamiento y consejo
                    oportuno que tanta falta nos hacía. Logramos entender que el sanar las cosas del pasado es indispensable para avanzar y el avanzar nos sirve para mejorar y evolucionar. Nos motivó a dar nuestro mejor esfuerzo por lograr cambios positivos
                    en nosotros mismos y como pareja. Definitivamente es una excelente terapeuta digna de recomendar y a quien apreciaremos siempre.
                </p>
            </div>





            <div class="col-lg-6 col-md-6  my-3 p-4">
                <h1 class="text-center"><i class="fas fa-quote-left text-secondary"></i></h1>
                <h3 class="text-center">Karla, 21 años</h3>
                <p class="text-justify">
                    Luego de terminar una relación de muchos años con mi esposo ya que él simplemente llegó un día y me dijo que ya no me amaba sentía que mi vida había perdido el rumbo, no podía encontrar el norte y me sentí muy triste, desesperada, angustiada, impotente,
                    perdida, gracias a Belizabeth pude darme cuenta que realmente la relación con mi esposo había terminado hace muchos años atrás que teníamos diferencias irreconciliables y que nuestros propósitos de vida habían cambiado hace mucho tiempo
                    e incluso que el uno limitaba al otro hacer feliz. Hoy luego de cuatro meses de terapia me doy cuenta que lo mejor que me pudo haber pasado es estar sin él y encontrarme nuevamente ya que el eje de mi vida soy yo no ha sido fácil pero
                    gracias a la humanidad y el acompañamiento de ella lo estoy logrando.
                </p>
            </div>
            <div class="col-lg-6 col-md-6  my-3 p-4">
                <h1 class="text-center"><i class="fas fa-quote-left text-secondary"></i></h1>
                <h3 class="text-center">Eliana Jácome, 27 años</h3>
                <p class="text-justify">
                    Para mí el haber encontrado a Belizabeth ha sido una de mis mejores experiencias y puedo dar mi testimonio de que cuando encuentras realmente a un buen terapeuta, este se interesa de verdad en ayudarte a mejorar tu vida, es cierto que también el éxito
                    depende de la voluntad que uno tiene en mejorar pero la guía y acompañamiento son imprescindibles. Gracias infinitas Beli por escucharme, guiarme, ayudarme, por preocuparte por mí, en definitiva gracias por todo tu interés.
                </p>
            </div>


            <div class="col-lg-6 col-md-6  my-3 p-4">
                <h1 class="text-center"><i class="fas fa-quote-left text-secondary"></i></h1>
                <h3 class="text-center">Ricardo, 33 años</h3>
                <p class="text-justify">
                    Acudí a terapia con Belizabeth Montilla meses atrás me sentía muy triste y desesperado ya que descubrí que mi esposa me había sido infiel, en el proceso de terapia entendí que nuestra relación había cambiado y lo habíamos descuidado desde hace mucho tiempo
                    atrás y gracias a la terapia hoy hemos superado esa traición de mi esposa podemos vernos como dos personas Con diferencias y con muchos aciertos, hoy estamos juntos y aprendimos a aceptarnos. Es una profesional muy recomendada.
                </p>
            </div>

            <div class="col-lg-6 col-md-6  my-3 p-4">
                <h1 class="text-center"><i class="fas fa-quote-left text-secondary"></i></h1>
                <h3 class="text-center">C. T, 58 años</h3>
                <p class="text-justify">
                    Mi vida ha dado un giro que jamás pensé. He logrado manejar mejor mis emociones y he aprendido mucho de ellas. Cada paso que he avanzado dentro de la terapia me ha servido para desenmarañar aspectos de mi vida que me molestaban y gracias a la ayuda de
                    Belizabeth al terminar cada una de esas sesiones yo me quedaba con una sensación de alivio y superación inmensa. Gracias Belizabeth por estar ahí para mí.
                </p>
            </div>
        </div>
        <!-- <div id="fb-root"></div>


    <div style="width:100%" class="fb-comments containerScroll" data-href="https://www.sapienciaweb.com/blogAngular/#/testimonios" data-numposts="6" width="100%" data-width="100%" data-order-by="times"></div>
 -->
    </div>

</div>